.details-container {
  margin-top: 100px;
}
.details-title {
  font-size: 30px;
  font-weight: bold;
}
@media only screen and(min-width:722px) {
  .details-content {
    width: 60%;
    margin: 0 auto;
  }
}
