.title {
 font-size: 20px;
 padding: 0;
 margin: 0;
}
.url-img {
 width: 100%;
}
.headlines {
 margin: 20px auto;
 width: 95%;
 margin: 0 auto;
}

.section {
 width: 100%;
 padding: 0;
 margin: 0;
}
.section-description {
 padding: 0;
 margin: 0;
}
.header-headlines {
 margin-top: 100px;
}
@media only screen and (min-width: 800px) {
 .url-img {
  height: 300px;
  object-fit: cover;
 }
 .section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
 }
 .header-headlines {
  background: gainsboro;
  height: 50px;
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: center;
 }
}
