.title {
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.url-img {
  width: 100%;
  object-fit: cover;
}
.headlines {
  margin: 20px auto;
  width: 95%;
  margin: 0 auto;
}
hr {
  padding: 0;
  margin: 0;
}
.section {
  width: 100%;
  padding: 0;
  margin: 0;
  max-height: 500px;
}
.section-description {
  padding: 0;
  margin: 0;
  text-align: justify;
}
.header-headlines {
  margin-top: 100px;
}

@media only screen and (min-width: 800px) {
  .url-img {
    width: 100%;
    max-height: 300px;
  }
  .section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
  .header-headlines {
    background: gainsboro;
    height: 50px;
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
  }
}
